<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>scoreQueryServlet</servlet-name>
        <servlet-class>servlet.ScoreQueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>scoreQueryServlet</servlet-name>
        <url-pattern>/scoreQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginOutServlet</servlet-name>
        <servlet-class>servlet.LoginOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginOutServlet</servlet-name>
        <url-pattern>/loginOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>changeTermServlet</servlet-name>
        <servlet-class>servlet.ChangeTermServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeTermServlet</servlet-name>
        <url-pattern>/changeTermServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>courseSearchServlet</servlet-name>
        <servlet-class>servlet.CourseSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>courseSearchServlet</servlet-name>
        <url-pattern>/courseSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>courseChooseServlet</servlet-name>
        <servlet-class>servlet.CourseChooseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>courseChooseServlet</servlet-name>
        <url-pattern>/courseChooseServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentScheduleServlet</servlet-name>
        <servlet-class>servlet.StudentScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentScheduleServlet</servlet-name>
        <url-pattern>/studentScheduleServlet</url-pattern>
    </servlet-mapping>

</web-app>